<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	
	<connectionStrings>
		<add name="CS_MYSQL" connectionString="Server=localhost;Database=bancoaula6;Uid=root;Pwd=root"/>
	</connectionStrings>
</configuration>